<hr>
<h3>Search Vehicle by id:</h3>
<form [formGroup]="searchForm">
    <input type="text" placeholder="search vehicle by id" formControlName="id">
    <button (click)="searchVehicle(searchForm.value)">Search</button>
</form>
<div>
    <li *ngIf="vehicle">
        Year: {{vehicle.year}} <br>
        Make: {{vehicle.make}} <br>
        Model: {{vehicle.model}} <br>
    </li>
</div>
<hr>

<h3>Vehicles list</h3>

<div  *ngIf="(vehicles$ | async) as vehicless">
    <ol>
        <li *ngFor="let vehicle1 of vehicless">
           <b>Id:</b> {{vehicle1._id}} 
            <b>Year:</b> {{vehicle1.year}} 
            <b>Make:</b> {{vehicle1.make}} 
            <b>Model</b> {{vehicle1.model}} 
            <button (click) = "deleteVehicle(vehicle1)">Delete</button>
            <button (click) = "selectVehicle(vehicle1)">Select and Update</button>
            <br> <br>
        </li>
    </ol>
</div>




