<hr>
<h3>Search Vehicle by id:</h3>
<form [formGroup]="searchForm">
    <input type="text" placeholder="search vehicle by id" formControlName="id">
    <button (click)="searchVehicle(searchForm.value)">Search</button>
</form>
<div>
    <li *ngIf="vehicle">
        Year: {{vehicle.year}} <br>
        Make: {{vehicle.make}} <br>
        Model: {{vehicle.model}} <br>
    </li>
</div>
<hr>




<h3>Vehicles list</h3>

<div  *ngIf="(vehicles$ | async) as vehicless">
    <ol>
        <li *ngFor="let vehicle1 of vehicless">
            Id: {{vehicle1._id}} <br>
            Year: {{vehicle1.year}} <br>
            Make: {{vehicle1.make}} <br>
            Model: {{vehicle1.model}} <br><br>
            <button (click) = "deleteVehicle(vehicle1)">Delete</button>
            <button (click) = "selectVehicle(vehicle1)">Select and Update</button>
        </li>
    </ol>
</div>
<app-edit-vehicle [selectedVehicle]="vehicle1" ></app-edit-vehicle>



